nav{
    height: 50%;
    text-align: center;
    display: block;

    
}

nav li{
    display: block;
    width: 90px;
    margin: 0 auto;
}

body{
    background:url('https://wallpapercave.com/wp/wp4490728.jpg');

    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    color:white;


}

  ul{
      margin: 0;
      padding: 0;
  }

li{
    list-style: none;
    display: inline;
    margin:10px;
    background:transparent;
    padding: 21px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    
   

}

li a{
    text-decoration: none;
    color:white;
    
    
    
}

nav{

   
    background: transparent;
    margin-left:15px;
  
}

.div2{
             
}
 .div1 {
  margin: 0 auto;
  margin-left: -20px;
 }

li:nth-child(1){
    background-color: red;
}

li:hover{
    background-color: red;
}

main h1{
  
    text-align: center;
    margin-top:25%;
    font-size: 30px;
   
    
} 

.btn button{
    padding: 10px;
    border-radius: 20px;
    width:auto;
    height: 50px;
    margin-top:-20%;
    background-color: red;
    border:none;
    color:white;
    text-align: center;
    margin-left: 5px;
    

}

.btn{
    text-align: center;
}


